.PreviewBar {
    padding: .77rem 0;
    background-color: #512DA8;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.88rem;
    color: #fff;
  }
  
  audio {
    color: #6c41ec;
  }